@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Handlee&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: relative;
}

.navbar {
  background-color: #f7f7f7;
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background: white;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.353);
}

.logo {
  text-decoration: none;
  color: #ff385c;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo span {
  font-size: 30px;
}

.navbar-center {
  display: flex;
  gap: 35px;
}

.navbar-center a,
.host-link {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  font-weight: 500;
}

.navbar-center a:hover,
.host-link:hover {
  color: #ff385c;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.profile-btn {
  height: 45px;
  padding: 0 12px;
  border: 1px solid #ddd;
  border-radius: 25px;
  background: white;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 17px;
}

.profile-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.user {
  font-size: 22px;
  color: #777;
}

/*main*/
.main {
  padding: 0 30px;
}
.image {
  position: relative;
  z-index: -1;
}
.outline-text {
  font-family: "Arial", sans-serif;
  font-size: 90px;
  font-weight: bold;
  text-transform: capitalize;

  /* Makes the inside of the text see-through */
  color: transparent;

  /* Creates the outline (Width and Color) */
  -webkit-text-stroke: 1px #fff;
}

.image-ovelay {
  position: absolute;
  top: 20%;
  left: 5%;
}
.image-ovelay h4{
  font-size: 25px;
 color: #fff;
}
/**footer*/
footer {
  padding: 30px;
  height: 11rem;
  border-top: 1px solid rgba(176, 173, 173, 0.353);
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  flex-wrap: wrap;
}
.f-company-details {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.f-company-details a {
  color: #222;
  text-decoration: none;
}
.f-company-details a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.f-socials {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }
  footer {
    flex-direction: column-reverse;
    font-size: 13px;
  }
  .f-company-details p {
    width: 100%;
  }

  .f-company-details span:nth-child(2) {
    display: none;
  }
}
